 <!--footer-->
    <div style="height:140px;"></div>
    <footer>
        <div class="uk-container uk-container-center">
            <div class="uk-grid uk-grid-small uk-text-center">
                <div class="uk-width-1-5 uk-flex">
                    <a href="{:U('index/go_index')}" class="uk-display-block uk-width-1-1 uk-flex-bottom uk-text-center">
                        <i class="uk-icon-home uk-icon-justify"></i>
                        <h6 class="uk-margin-small">首页</h6>
                    </a>
                </div>
                <div class="uk-width-1-5 uk-flex">
                    <a href="{:U('task/index')}" class="uk-display-block uk-width-1-1 uk-flex-bottom uk-text-center">
                        <i class="uk-icon-file-text uk-icon-justify"></i>
                        <h6 class="uk-margin-small">任务大厅</h6>
                    </a>
                </div>
                <div class="uk-width-1-5 uk-flex uk-flex-bottom">
                    <a href="{:U('task/sendtask')}" class="uk-display-block uk-width-1-1 uk-align-center uk-text-center footer-btn">
                        <img src="__PUBLIC__/images/icon-12.png" alt="">
                        <h6 class="uk-margin-small">发布任务</h6>
                    </a>
                </div>
				<div class="uk-width-1-5 uk-flex uk-position-relative">
                    <a href="{:U('user/mytask')}" class="uk-display-block uk-width-1-1 uk-flex-bottom uk-text-center">
                        <i class="uk-icon-clock-o uk-icon-justify"></i>
                        <h6 class="uk-margin-small">我的任务</h6>
                    </a>
		
			<php>if($havet_read >0) echo '<span class="uk-position-absolute one-center-btn">+'.$havet_read.'</span>';</php>
                </div>
                <div class="uk-width-1-5 uk-flex uk-position-relative">
                    <a href="{:U('user/index')}" class="uk-display-block uk-width-1-1 uk-flex-bottom uk-text-center">
                        <i class="uk-icon-user uk-icon-justify"></i>
                        <h6 class="uk-margin-small">个人中心</h6>
                    </a>
                   <php>if($baobeiNum>0)echo '<span class="uk-position-absolute one-center-btn">+'.$baobeiNum.'</span>';
                    </php>
                </div>
            </div>
        </div>
    </footer>
	<script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/uikit.min.js"></script><!--框架js文件，勿改-->
	<script src="__PUBLIC__/js/slideshow.min.js"></script><!--首页图片切换-->
    <script src="__PUBLIC__/js/slideshow-fx.min.js"></script><!--首页图片切换增强效果-->
	<script src="__PUBLIC__/js/form-select.min.js"></script>
    </body>
</html>
