<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="yes" name="apple-mobile-web-app-capable">
		<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
        <title>{$type}成功</title>
        <link rel="stylesheet" href="__PUBLIC__/css/uikit.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/iven.css" />
        <script src="__PUBLIC__/js/jquery.js"></script>
        <script src="__PUBLIC__/js/uikit.min.js"></script>
    </head>
    <body>
	<div class="uk-container uk-container-center">
        <div class="post-success uk-text-center">
            <i class="uk-icon-check"></i>
            <h2>感谢您的支持！</h2>
            <p>您在交易过程中遇到的任何问题，都可以找我们协助</p>
            <div class="uk-margin-medium-top">
                <a href="{:U('suggest/index',array('type'=>$suggest_type))}" class="uk-button uk-button-primary uk-button-large">返回{$type}</a>
                <a href="{:U('task/index')}" class="uk-button uk-button-yellow uk-button-large">前往任务大厅</a>
            </div>
        </div>
    </div>
    <include file="Public/footer" />