<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="yes" name="apple-mobile-web-app-capable">
		<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
        <title>微信电伙</title>
        <link rel="stylesheet" href="__PUBLIC__/css/uikit.css" /><!--框架css文件，勿改-->
        <link rel="stylesheet" href="__PUBLIC__/css/iven.css" /><!--用户自定义css文件，所有写在这里，若与框架初始化样式不同，可以写新的覆盖-->
        <link rel="stylesheet" href="__PUBLIC__/css/slideshow.css" /><!--首页图片切换-->
        <link rel="stylesheet" href="__PUBLIC__/css/dotnav.css" /><!--首页图片切换圆点-->
    </head>
    <body>
    <!--header start-->
    <header>
        <div class="uk-container uk-container-center">
            <div class="uk-grid uk-grid-small uk-flex-middle">
                <div class="uk-width-2-5">
                    <div class="logo"><a href=""><img src="__PUBLIC__/images/{$pic}" alt=""></a></div>
                </div>
                <div class="uk-width-3-5">
                    <div class="post-btn uk-flex  uk-flex-row-reverse">
                        <if condition="isset($userinfo) && !empty($userinfo) && !empty($userinfo['telphone'])">
                            <div><a href="{:U('task/sendtask')}" class="uk-button uk-button-primary">发布任务</a>
                            <a href="{:U('task/index')}" class="uk-button uk-button-yellow">任务接单</a></div>
                        </if>
                    </div>
                </div>
            </div>
        </div>   
    </header>