<!--模块2-浓情蟹礼		-->
      <div id="item3" class="nqxl box-2 item">
        <div class="w">
          <div class="title n-1"><img alt="{$imgalt}" src="__PUBLIC__/images/n-1.png"></div>
          <p class="text">好蟹汇阳澄湖大闸蟹礼盒用心设计，包装精美大方，携带方便，是馈赠亲朋好友、公司情意往来，员工福利的最佳选择，为您的人际交往增色添彩</p>
          <div class="img-1"><img alt="{$imgalt}" src="__PUBLIC__/images/n-2.png"></div>
          <div class="order">
            <p><span>订购电话：</span><b>{$baseConfig.telphone}</b></p><a href="{$baseConfig.shangqiao}" target="_blank" class="btn"><i></i><span>企业订购快速通道</span></a>
          </div>
        </div>
      </div>
      <!--模块3-->
      <div id="item4" class="box-3 item">
        <div class="w">
          <div class="img-2"><img alt="{$imgalt}" src="__PUBLIC__/images/y-1.png"></div>
        </div>
      </div>
      <!--模块4-->
      <div id="item5" class="box-4 item">
        <div class="w">
          <div class="title"><img alt="{$imgalt}" src="__PUBLIC__/images/h-1.png"></div>
          <div class="img-2"><img alt="{$imgalt}" src="__PUBLIC__/images/h-2.png"></div>
          <ul class="text">
            <li>
              <div class="clearfix">
                <p> <b>时节:</b>农历，二月廿一，春分，油菜花开</p>
                <p>，春天灿烂之时，渔民们开始了一年的</p>
                <p>劳作。</p>
              </div>
            </li>
            <li> 
              <div class="clearfix">
                <p> <b>放苗:</b>农历，二月廿五气温、水温适宜小</p>
                <p>螃蟹奔向它们成长之地——阳澄湖温暖</p>
                <p>怀抱。</p>
              </div>
            </li>
            <li>
              <div class="clearfix">
                <p><b>养殖:</b>清晨，趁着旭日初升，阳光还不是</p>
                <p>太炙热，渔民必将划着小船，照料着大</p>
                <p>螃蟹的健康成长。</p>
              </div>
            </li>
            <li>
              <div class="clearfix">
                <p><b>喂养:</b>玉米、海鱼、螺丝都是杂食性螃蟹最</p>
                <p>爱的食料，其丰富的营养，提供了充足的生</p>
                <p>长能量。</p>
              </div>
            </li>
            <li>
              <div class="clearfix">
                <p><b>蜕变:</b>季节交替，光阴交错，由春至夏农</p>
                <p>历春分投的苗，中秋的收获，十八次蜕</p>
                <p>壳完后，好蟹汇螃蟹悄然成熟了。</p>
              </div>
            </li>
            <li>
              <div class="clearfix">
                <p><b>丰收:</b>秋收季节，挥洒了半年的汗水，饱</p>
                <p>含着渔民的期盼，在秋天终于获得了卖</p>
                <p>家的认可。</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--模块5-->
      <div id="item6" class="box-5 item">
        <div class="w">
          <div class="title text-center">
            <h3>
               
              好蟹汇的大闸蟹是这样到您的碗里的<br>无蟹可击的好味道
            </h3>
            <p>从捕捞到您的餐桌，最快只需24小时！</p>
          </div>
          <ul class="list">
            <li>
              <div class="img hover-img"><img alt="{$imgalt}" src="__PUBLIC__/images/product-5.jpg"></div>
              <div class="num"><span>01</span></div>
              <div class="bottom text-center">
                <h3>20:00捕捞作业</h3>
                <p>捕捞人员持网开始作业直至凌晨，洋溢着丰收的喜悦</p>
              </div>
            </li>
            <li>
              <div class="img hover-img"><img alt="{$imgalt}" src="__PUBLIC__/images/product-6.jpg"></div>
              <div class="num"><span>02</span></div>
              <div class="bottom text-center">
                <h3>24：00筛选作业</h3>
                <p>筛选工作需要经验丰富的人员，经过观行、看色、称重、品味四个步骤</p>
              </div>
            </li>
            <li>
              <div class="img hover-img"><img alt="{$imgalt}" src="__PUBLIC__/images/product-7.jpg"></div>
              <div class="num"><span>03</span></div>
              <div class="bottom text-center">
                <h3>凌晨4：00开始扎蟹</h3>
                <p>完成暂养池吐泥的蟹，扎蟹工双手娴熟的使用香草捆扎大闸蟹，并给每一只阳澄湖大闸蟹戴上防伪戒指。</p>
              </div>
            </li>
            <li>
              <div class="img hover-img"><img alt="{$imgalt}" src="__PUBLIC__/images/product-8.jpg"></div>
              <div class="num"><span>04</span></div>
              <div class="bottom text-center">
                <h3>清晨8:00顺丰发蟹</h3>
                <p>打包工采取标准化工作流程流水线作业方式完成打包工作，一箱箱好蟹汇大闸蟹整装顺丰发货！</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--模块6-->
      <div id="item7" class="box-6 item">
        <div class="w">
          <div class="title text-center"><img alt="{$imgalt}" src="__PUBLIC__/images/hx-1.png"></div>
          <div class="text text-center">
            <p>满载荣誉：全行业认可、阳澄湖大闸蟹行业协会重点推荐品牌；好蟹汇是苏州市阳澄湖大闸蟹行业协会理事单位</p>
            <p>公司先后获得了“AAA级资信企业”、江苏省诚信企业及原产地域保护产品专营单位等诸多奖项</p>
            <p>好蟹汇阳澄湖大闸蟹获得了国家源产地产品保护管理委员会颁发的“阳澄湖大闸蟹地理标志保护专营单位”认证资格</p>
            <p class="red">社会给予的，不仅仅是荣誉 更是一种使命和责任</p>
          </div>
          <div class="img-2 honor"><img alt="{$imgalt}" src="__PUBLIC__/images/hx-2.png"></div>
        </div>
      </div>
      <!--模块7-->
      <div class="box-7">
        <div class="w clearfix">
          <div class="fl">
            <div class="title"><img alt="{$imgalt}" src="__PUBLIC__/images/sn-1.png"></div>
            <div class="text">
              <p>我们坚持品质，践行15年，口碑无数。</p>
              <p>荣获万千信赖，仍慎行如初，不懈坚持，只为不负众望不负卿。</p>
              <p>我们懂蟹，更懂您要的那份品质保证。为您，我们走心！</p>
            </div>
            <div class="order">
              <p><span>订购电话：</span><b>{$baseConfig.telphone}</b></p><a href="{$baseConfig.shangqiao}" target="_blank" class="btn"><i></i><span>企业订购快速通道</span></a>
            </div>
          </div>
          <ul class="fr brandbox">
            <li class="logo-1"><img alt="{$imgalt}" src="__PUBLIC__/images/logo-1.jpg"></li>
            <li class="logo-2"><img alt="{$imgalt}" src="__PUBLIC__/images/logo-2.jpg"></li>
            <li class="logo-3"><img alt="{$imgalt}" src="__PUBLIC__/images/logo-3.jpg"></li>
            <li class="logo-4"><img alt="{$imgalt}" src="__PUBLIC__/images/logo-4.jpg"></li>
            <li class="logo-5"><a href="#">查看更多</a></li>
            <li class="logo-6"><img alt="{$imgalt}" src="__PUBLIC__/images/logo-6.jpg"></li>
            <li class="logo-7"><img alt="{$imgalt}" src="__PUBLIC__/images/logo-7.jpg"></li>
            <li class="logo-8"><img alt="{$imgalt}" src="__PUBLIC__/images/logo-8.jpg"></li>
            <li class="logo-9"><img alt="{$imgalt}" src="__PUBLIC__/images/logo-9.jpg"></li>
          </ul>
        </div>
      </div>
      <!--模块8-->
      <div id="item1" class="giftcard box-8 item1">
        <div class="w clearfix">
          <div class="fr">
            <div class="title"><img alt="{$imgalt}" src="__PUBLIC__/images/l-1.png"></div>
            <div class="text">
              <p>好蟹汇倾心推出的阳澄湖大闸蟹礼卡，设计精致大气，不论是自用还是送人都灵活便捷。全国24家直营门店凭卡通兑通提，还可以通过网络、微信及电话提货，并由顺丰免费送货上门。</p>
              <p>好蟹汇保证： 所售阳澄湖大闸蟹均由阳澄湖核心产区直供，只只佩带防伪指环</p>
            </div>
            <div class="order">
              <p><span>订购电话：</span><b>{$baseConfig.telphone}</b></p><a href="{$baseConfig.shangqiao}" target="_blank"  class="btn"><i></i><span>企业订购快速通道</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="head-radiu l-desc">
        <div class="w bgfff">
          <ul class="list">
	    <li>
              <div><img alt="{$imgalt}" src="__PUBLIC__/images/icon-sy.png">
                <h3>蟹意在手，爱在金秋</h3>
                <p>蟹意=谢意，好蟹汇精美礼卡更是爱的传递。今年的中秋不沉默，带上礼卡表达心意，美味不独享，蟹礼很私密。</p>
              </div>
            </li>
            <li class="line"></li>
            <li>
              <div><img alt="{$imgalt}" src="__PUBLIC__/images/icon-sm.png">
                <h3>送一份有温度的礼物</h3>
                <p>定制礼卡，突出个性，送人体面彰显尊贵。宜食、宜赠、易携带满足多场合需求，购买礼卡随时提货，鲜活享用美味。</p>
              </div>
            </li>
            <li class="line"></li>
            <li>
              <div><img alt="{$imgalt}" src="__PUBLIC__/images/icon-bj.png">
                <h3>刚出湖边 又上舌尖</h3>
                <p>一个电话、一条微信就可以轻松完成提蟹过程，48小时内就可以品尝到原汁原味的阳澄湖大闸蟹。</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--模块9-->
      <div id="item8" class="box-9 item">
        <div class="w">
          <div class="title"><img alt="{$imgalt}" src="__PUBLIC__/images/sx-1.png"></div>
          <ul class="list">
            <li>
              <div class="img"><img alt="{$imgalt}" src="__PUBLIC__/images/sx-2.jpg"></div>
              <div class="text text-center">
                <h3>微信提蟹</h3>
                <p>
                   
                  扫描二维码或者关注好蟹汇<br>公众号<br>礼卡信息-微信提货
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img alt="{$imgalt}" src="__PUBLIC__/images/sx-3.jpg"></div>
              <div class="text text-center">
                <h3>直营店提蟹</h3>
                <p>
                   
                  全国24家直营店欢迎您上门提货<br>亲自挑选自己满意的大闸蟹<br>，鲜活、直接。回家就能享用美味
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img alt="{$imgalt}" src="__PUBLIC__/images/sx-4.jpg"></div>
              <div class="text text-center">
                <h3>在线提蟹</h3>
                <p>
                   
                  登录好蟹汇在线提蟹系统;登记卡<br>号密码及收货信息;24小时<br>随时自助提蟹！<br><span class="red">www.haoxiehui.cn</span>
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img alt="{$imgalt}" src="__PUBLIC__/images/sx-5.jpg"></div>
              <div class="text text-center">
                <h3>电话提蟹</h3>
                <p>
                   
                  7*12h大规模客服阵营保障提蟹无 <br>忧！直接告诉客服小妹/小哥您的<br>需求。提蟹省时省力！<br><span class="red">{$baseConfig.telphone}</span>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--模块10-->
      <div id="item8" class="shops box-10 item">
        <div class="img"><img alt="{$imgalt}" src="__PUBLIC__/images/shops.png"></div>
        <div class="text">
          <p><b>9000</b><em>万</em><br><span>年销量达9000万，深得顾客信赖</span></p>
          <p><b>5000+</b><em>家</em><br><span>五千家以上知名企业密切合作</span></p>
        </div>
      </div>
      <!--模块11-->
      <div id="item9" class="box-11 box1 item">
          <include file="Public/lika_lihe"/>
      </div>
      <!--模块12-->
      <div class="box-12">
        <div class="w">
          <div class="title">
            <div class="img-2"><img alt="{$imgalt}" src="__PUBLIC__/images/t-1.png"></div>
            <div class="text-center"> 
              <p>
                 
                为确保蟹礼更加鲜活，好蟹汇大闸蟹自出湖包装配送全方位品质保障，<br>不计成本，包装升级四重保护美味安心到家。
              </p>
            </div>
          </div>
          <ul class="list">
            <li>
              <div class="img"><img alt="{$imgalt}" src="__PUBLIC__/images/tl-1.png"></div>
              <div class="text">
                <h3>生鲜冰袋</h3>
                <p>每个礼盒包装都配有生鲜专用冰袋，锁定食品相对低温，保证大闸蟹鲜活。</p>
              </div>
            </li>
            <li>
              <div class="img"><img alt="{$imgalt}" src="__PUBLIC__/images/tl-2.png"></div>
              <div class="text">
                <h3>铝箔保温袋</h3>
                <p>采用食品级闪光隔热棉，具有很好的隔热保温和防震效果。还可在家重复利用。</p>
              </div>
            </li>
            <li>
              <div class="img"><img alt="{$imgalt}" src="__PUBLIC__/images/tl-3.png"></div>
              <div class="text">
                <h3>精装礼盒</h3>
                <p>好蟹汇精装礼盒，专业设计时尚大气，送礼有面、收礼惊喜。内附品蟹工具，实用。</p>
              </div>
            </li>
            <li>
              <div class="img"><img alt="{$imgalt}" src="__PUBLIC__/images/tl-4.png"></div>
              <div class="text">
                <h3>快递包装箱</h3>
                <p>顺丰速运专属包装全国免费送货上门方便快捷，满满一箱都是我们的用心。</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--模块13-->
      <div id="item10" class="box-13 item">
        <div class="w clearfix">
          <div class="fl">
            <div class="img-1"><img alt="{$imgalt}" src="__PUBLIC__/images/s-2.png"></div>
          </div>
          <div class="fr">
            <div class="img-1"><img alt="{$imgalt}" src="__PUBLIC__/images/s-1.png"></div>
            <div class="text">
              <p> <span>注：</span>所有收送范围以顺丰速运官网“收送范围查询“内的信息为准，只有顺丰速运可以配送的地方才可配送，如遇航班、天气等不可抗力因素，部分地区可能无法配送，敬请谅解。</p>
            </div>
          </div>
        </div>
      </div>
      <!--模块14-->
      <div id="item11" class="box-14 item"><a href="{$baseConfig.shangqiao}" class="btn" target="_blank">我要定制</a></div>
      <!--模块15-->
      <div class="box-15">
        <div class="title img-2"><img alt="{$imgalt}" src="__PUBLIC__/images/yf-1.png"></div>
        <div class="img-2"><img alt="{$imgalt}" src="__PUBLIC__/images/telphone.png"></div>
        <div class="text-center">
          <div class="btnbox"><a href="/" class="btn btn-index">浏览好蟹汇官网首页</a><a href="{$baseConfig.shangqiao}" class="btn" target="_blank">订购阳澄湖大闸蟹</a></div>
        </div>
      </div>
    </div>
