<include file="Public/header" />
	<!-- 头部 E -->
	 <!-- 焦点图 S-->
	 <div class="banner img">
	 	<img alt="{$imgalt}" src="__PUBLIC/smallphone/images//banner-3.jpg" >
	 </div>
	 <!-- 焦点图 E-->
	<div class="am-list-news">
		<div class="screen">
			<a href="{:U('product/list',array('type'=>'price','show_all'=>$show_all))}" <if condition="$type eq 'price'">class="current"</if>>价格<i></i></a>
			<a href="{:U('product/list',array('type'=>'sale_nums','show_all'=>$show_all))}" <if condition="$type eq 'sale_nums'">class="current"</if>>销量<i></i></a>
			<a href="{:U('product/list',array('type'=>'male_crab_weight','show_all'=>$show_all))}" <if condition="$type eq 'male_crab_weight'">class="current"</if>>规格<i></i></a>
		</div>
		<ul class="cm-list">
			<foreach name="commend_card" item="commend_data">
				<li>
					<a href="/product/codebuy_{$commend_data.id}.html">
						<div class="left">
							<img alt="{$imgalt}" src="__PUBLIC__/images/{$commend_data.pic}" >
						</div>
						<div class="right">
							<h3 class="line-1 title">{$commend_data.name}礼卡{$commend_data.nums}对装</h3>
							<div class="price red">{$commend_data.price}</div>
							<div class="text">雄蟹：{$commend_data.male_crab_weight}两*{$commend_data.nums}只+雌蟹：{$commend_data.female_crab_weight}两*{$commend_data.nums}只</div>
						</div>
					</a>
				</li>
			</foreach>
		</ul>
		<div class="btn-all">
			<a class="am-btn" href="{:U('product/list',array('type'=>$type,'show_all'=>1))}">显示全部</a>
		</div>
	</div>
	
<include file="Public/footer2"/>
