<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="yes" name="apple-mobile-web-app-capable">
		<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
        <title>维权记录</title>
        <link rel="stylesheet" href="__PUBLIC__/css/uikit.css" />
        <link rel="stylesheet" href="__PUBLIC__/css/iven.css" />
        <link rel="stylesheet" href="__PUBLIC__/css/form-select.css" />
        <script src="__PUBLIC__/js/jquery.js"></script>
        <script src="__PUBLIC__/js/uikit.min.js"></script>
        <script src="__PUBLIC__/js/form-select.min.js"></script>
    </head>
    <body>
    <!-- 这是包含拨动元素的容器 -->
    <ul class="legal-tabs-title">
        <li><a href="">充值记录</a></li>
        <li class="uk-active"><a href="">消费记录</a></li>
    </ul>

    <div class="uk-container uk-container-center">
    <!-- 这是内容项目的容器 -->
    <table class="uk-table">
		<thead>
			<tr>
				<th>消费时间</th>
				<th>消费用途</th>
				<th>消费金额</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>2016.05.23 17:25:20</td>
				<td>保证金</td>
				<td>￥253</td>
			</tr>
			<tr>
				<td>2016.05.23 17:25:20</td>
				<td>保证金</td>
				<td>￥253</td>
			</tr>
			<tr>
				<td>2016.05.23 17:25:20</td>
				<td>保证金</td>
				<td>￥253</td>
			</tr>
		</tbody>
	</table>
    </div>    

    <include file="Public/footer" />