<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="yes" name="apple-mobile-web-app-capable">
		<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
        <title>我要派单</title>
        <link rel="stylesheet" href="__PUBLIC__/css/uikit.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/iven.css" />
        <link rel="stylesheet" href="__PUBLIC__/css/form-select.css" />
        <script src="__PUBLIC__/js/jquery.js"></script>
        <script src="__PUBLIC__/js/uikit.min.js"></script>
        <script src="__PUBLIC__/js/form-select.min.js"></script>
    </head>
    <body>
	<div class="uk-container uk-container-center">
		<style>
			#switch-option option span{ font-size:14px; color:#666;}
		</style>
		<script>
			//select监听事件
			$(document).ready(function() {
				var design_num = 0;
				$(".design_list").click(function(){
					var a = $(this).prop("checked");
					if(a){
						if(design_num==2){
							//alert("最多选择2个");
							//return false;
						}
						design_num += 1;
					}else{
						design_num = design_num -1 ;
					}
				});
				$("#province").change(function(){
                    var uu = $(this).find('option:selected').val();
                    var url = $("#cityurl").html();
                    $.ajax({
                          'url'  :url,
                          'data'   :{'province_id':uu},
                          'type'   :'get',
                          'success':function(msg){
                             $("#cityinfo").html(msg);
                          }
                        })
                });
                $("#switch-option").change(function(){
                    var uu = $(this).find('option:selected').val();
                    window.location.href="{:U('task/sendtask')}"+"?type="+uu;
                });
                $("#submitit").click(function(){
                    var nowmoney = $("#nowmoney").val();
                    var needmoney = $("#needmoney").val();
                    
                    var type = $.trim($("#switch-option").find('option:selected').val());
                    var pro_name = $.trim($("#pro_name").val());
                    var content = $.trim($("#content").val());
                    var trand_way = $.trim($("#trand_way").val());
                    var a =0;
                    if(type == "" || pro_name == "" || content == ""){
                        alert("必填项不能为空");
                        return false;
                    }
                    if(type != '图纸报价'){
                        var province =  $("#province").find('option:selected').val();
                        var city =  $("#cityinfo").find('option:selected').val();
                        var pro_addr = $("#pro_addr").val();
                        if(province=="" || city =="" || pro_addr ==""){
                            alert("省份城市详细地址不能为空")
                            return false;
                        }
                    }

                    var price = $("#price").val();
                    if(trand_way == 1 && price==""){
                        alert("任务赏金不能为空")
                        return false;
                    }
                    if(type == '设计任务' ){
                        var product_brand = $("#product_brand").val();
                        if(product_brand==""){
                            alert("产品品牌不能为空")
                            return false;
                        }
                    }
                    if(trand_way == 1){
                        if(parseInt(price) > parseInt(nowmoney)){
                            alert("余额不足，请先充值哦");
                            window.location.href="{:U('task/task_fail')}";
                            return false;
                        }
                    }else{
                       // if(parseInt(needmoney) > parseInt(nowmoney)){
                       //     alert("余额不足，请先充值哦");
                       //     window.location.href="{:U('task/task_fail')}";
                       //     return false;
                       // }
                    }
                    $("form").submit();
                })
			});
		</script>

        <form class="uk-form assi-form" action="{:U('task/savetask')}" method="post">
            <!-- 这里选择 - 切换-->
            <h2 class="iv-h2">公司名称 <span class="uk-float-right"><i class="red">*</i>必填</span></h2>
            <div class="assi-form">
                <div class="uk-form-select" data-uk-form-select>
                    <span></span>
                    <select id="switch-option" name='customerId'>
                        <option value="">请选择公司</option>
                        <foreach name="company_list" item="company">
                            <option value="{$company.name}" <if condition="isset($userinfo) && $userinfo['company'] eq $company['name']"> selected</if>>{$company.name}</option>
                        </foreach>
                    </select>
                </div>
            </div>
            <div></div> <!--左边空div是第0个 - 对应 ‘请选择任务类型’-->
            <div class="switch-1">
            <input type='hidden' id="type_name" value="{$type}" >
			<h2 class="iv-h2">期望时间 <span class="uk-float-right"><i class="red">*</i>必填</span></h2>
            <input type="text" name="hopetime" id="hopetime" placeholder="请选择期望时间" />
            <h2 class="iv-h2">维护分类 <span class="uk-float-right"><i class="red">*</i>必填</span></h2>
            <div class="uk-grid">
                <div class="uk-width-1-2">
                    <div class="uk-form-select" data-uk-form-select>
                        <span></span>
                        <select id="jobtype" name="jobtype">
                            <option value="">请选择维护类型</option>
                            <foreach name="job_type_list" item="job_type">
                                <option value="{$job_type.name}">{$job_type.name}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
            </div>
            <h2 class="iv-h2">维护说明 <span class="uk-float-right"><i class="red">*</i>必填</span></h2>
            <textarea name="jobcontent" id="jobcontent" cols="30" rows="10" placeholder="请简述维护说明"></textarea>
            <div class="uk-text-center">
                <button class="uk-margin-top uk-button uk-button-primary uk-button-slarge" id="submitit"><i class="uk-icon-mouse-pointer uk-icon-justify"></i>立即提交</button>
            </div>
		</div>
        </form>
    </div>
    <include file="Public/footer" />
