<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>精锐教育</title>
<link href="__PUBLIC__/css/dqfb.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="fqfb"><!--fqfb begin-->
<div class="top"><h1 style ="margin-top: 25px;margin-left: 5px;"><img src="__PUBLIC__/images/logo_white.png" /></h1><h2></h2></div>
<div class="main"><!--main begin-->
<div class="title"><img src="__PUBLIC__/images/dqfb_r7_c3.jpg" /></div>

<div class="fb_body"><!--fb_body begin-->

{$citylist}

</div><!--fb_body end-->

<div style="margin-top:20px;text-align: center;"><a href="http://partner.1smart.org"><img alt="精锐教育" width="941px" src="__PUBLIC__/images/NavigateBanner.jpg" /></a></div>
<div class="fb_bottom">
COPY-RIGHT@2009-2014 上海精锐教育培训有限公司、精锐国际教育集团有限公司 沪ICP备10038258号 投诉热线：400-666-9630
      <!---www.1smart.org/zt/LdPage25.aspx-->
</div>



</div><!--main end-->





</div><!--fqfb end-->


</body>
</html>
