<include file="Public/header_help" />
<link href="__PUBLIC__/css/help.css" rel="stylesheet">
      <div class="w boxs clearfix">
        <div class="title">当前位置： <span>好蟹汇>帮助中心>配送须知</span></div>
        <div class="left fl">
          <include file="Public/mid_help"/>
        </div>
        <div class="right fr">
          <h3>配送须知</h3>
          <ul class="ul">
            <li> 
              <p>1、收货地址请一定是顺丰速运配送范围内的城市，超出范围我们无法进行配送，所有收送范围以顺丰速运官网“收送范围查询“内的信息为准，如遇航班、天气等不可抗力因素，部分地区可能造成短时间无法配送，敬请谅解。</p>
            </li>
            <li> 
              <p>2、大闸蟹到达所在地区后（顺丰单号可查）一般24小时内配送到家，请一定保持您联系电话的畅通。</p>
            </li>
            <li> 
              <p>3、由于顺丰速运存在快递延误的现象，所以我们对于限时派送无法保证，敬请谅解。节假日派送根据顺丰速运的调整进行派送，可能会出现节假日停发现象，请尽量避开节假日提蟹。</p>
            </li>
            <li> 
              <p>4、若客户由于自身原因而造成快递签收延误导致死蟹，如填写的收货地址顺丰速递无法送达，快递送达后直接拒签或要求自取、更改派送时间而造成派件延误，收货人电话无人接听、停机或收货人不在等情况，我们将无法为您提供售后保障服务，敬请谅解。</p>
            </li>
            <li> 
              <p>5、收到大闸蟹暂时不食用可以放置在冰箱的冷藏柜(注意：不是冷冻)，温度保持5-7度，盖上湿毛巾保存即可。不过还是建议您不要放久，因为存放过程中，由于大闸蟹不进食会变瘦，影响到肉质，如果发现蟹死亡千万不能食用。</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
 <include file="Public/footer2" />
    <script src="__PUBLIC__/js/require.js" data-main="__PUBLIC__/js/ychdzx"></script>
    </body>
    </html>
