<include file="Public/header_help" />
<link href="__PUBLIC__/css/help.css" rel="stylesheet">
      <div class="w boxs clearfix">
        <div class="title">当前位置： <span>好蟹汇>帮助中心>购蟹方式</span></div>
        <div class="left fl">
          <include file="Public/mid_help"/>
        </div>
        <div class="right fr">
          <h3>购蟹方式</h3>
          <ul class="ul">
            <li>1、可以通过拨打4400-880-1517官方热线购买；</li>
            <li>2、点击网站的在线客服，在线预约购买；</li>
            <li>3、去附近门店直接购买；</li>
            <li>4、在网站上注册帐号，线上购买。</li>
          </ul>
        </div>
      </div>
    </div>
   <include file="Public/footer2" />
    <script src="__PUBLIC__/js/require.js" data-main="__PUBLIC__/js/ychdzx"></script>
    </body>
    </html>
