<include file="Public/header_help" />
<link href="__PUBLIC__/css/help.css" rel="stylesheet">
      <div class="w boxs clearfix">
        <div class="title">当前位置： <span>好蟹汇>帮助中心>配送范围</span></div>
        <div class="left fl">
          <include file="Public/mid_help"/>
        </div>
        <div class="right fr">
          <h3>配送范围</h3>
          <ul class="ul">
            <li> 
              <h4>【配送范围】</h4>
              <p>好蟹汇合作物流公司为“顺丰速运”，对于您在每天15：00点前成功付款的订单，我们会安排当天发货，一般国内一、二线城市第二天送达。具体请在顺丰速运官方网站（www.sf-express.com）查询一下具体派送范围以及配送时间。<br> 注：所有收送范围以顺丰速运官网“收送范围查询“内的信息为准，只有顺丰速运可以配送的地方才可配送，如遇航班、天气等不可抗力因素，部分地区可能无法配送，敬请谅解。</p>
              <div class="helplist">
    <p>
      &nbsp;</p>
    <p>
      <span style="font-size:14px;"><strong>快递送货上门城市和配送时间</strong></span></p>
    <table width="100%">
      <tbody>
        <tr>
          <td width="107">
            省份</td>
          <td width="123">
            城市</td>
          <td width="268">
            配送范围</td>
          <td width="73">
            配送时间</td>
        </tr>
        <tr>
          <td rowspan="11">
            浙江省</td>
          <td width="123">
            杭州市</td>
          <td width="268">
            主城区、萧山区、余杭区、桐庐县、富阳市、滨江区、下沙</td>
          <td>
            当天件</td>
        </tr>
        <tr>
          <td width="123">
            湖州市</td>
          <td width="268">
            南浔区、吴兴区、德清县、长兴县、安吉县</td>
          <td>
            当天件</td>
        </tr>
        <tr>
          <td width="123">
            嘉兴市</td>
          <td width="268">
            南湖区、秀洲区、桐乡市、海宁市、海盐县、平湖市、嘉善县</td>
          <td>
            当天件</td>
        </tr>
        <tr>
          <td width="123">
            宁波市</td>
          <td width="268">
            海曙区、北仑区、江东区、江北区、镇海区、鄞州区、慈溪市、余姚市、奉化市</td>
          <td>
            当天件</td>
        </tr>
        <tr>
          <td width="123">
            绍兴市</td>
          <td width="268">
            越城区、绍兴县、诸暨市、嵊州市、新昌县、上虞市</td>
          <td>
            当天件</td>
        </tr>
        <tr>
          <td width="123">
            金华市</td>
          <td width="268">
            婺城区、金东区、义乌市、浦江县、东阳市、永康市、兰溪市、武义县、磐安县</td>
          <td>
            当天件</td>
        </tr>
        <tr>
          <td width="123">
            台州市</td>
          <td width="268">
            黄岩区、椒江区、路桥区、温岭市、临海市、玉环县、仙居县、天台县</td>
          <td>
            次日件</td>
        </tr>
        <tr>
          <td width="123">
            温州市</td>
          <td width="268">
            龙湾区、瓯海区、乐清市、瑞安市、永嘉县、苍南县、平阳县、文成县、洞头县</td>
          <td>
            次日件</td>
        </tr>
        <tr>
          <td width="123">
            丽水市</td>
          <td width="268">
            莲都区、缙云县、云和县、青田县</td>
          <td>
            次日件</td>
        </tr>
        <tr>
          <td width="123">
            衢州市</td>
          <td width="268">
            柯城区、衢江区、龙游县、江山市、常山县、开化县</td>
          <td>
            次日件</td>
        </tr>
        <tr>
          <td width="123">
            舟山市</td>
          <td width="268">
            定海区、普陀区</td>
          <td>
            次日件</td>
        </tr>
        <tr>
          <td>
            北京市</td>
          <td width="123">
            　</td>
          <td width="268">
            东城区、西城区、崇文区、宣武区、朝阳区、海淀区、丰台区、石景山区、房山区、通州区、顺义区、大兴区、昌平区、平谷区、怀柔区、门头沟区、延庆县、密云县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            天津市</td>
          <td width="123">
            　</td>
          <td width="268">
            和平区、河东区、河西区、南开区、河北区、红桥区、塘沽区、汉沽区、大港区、东丽区、西青区、北辰区、津南区、武清区、宝坻区、静海县、宁河县、蓟县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            上海市</td>
          <td width="123">
            　</td>
          <td width="268">
            黄浦区、卢湾区、徐汇区、长宁区、静安区 、普陀区、闸北区、虹口区、杨浦区、宝山区、 闵行区、嘉定区、浦东新区、松江区、金山区 、青浦区、南汇区、奉贤区 、崇明县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            重庆市</td>
          <td width="123">
            　</td>
          <td width="268">
            万州区、涪陵区、渝中区、大渡口区、江北区、沙坪坝区、九龙坡区、南岸区、北碚区、万盛区、双桥区、渝北区、巴南区、黔江区、长寿区、江津市、合川区、永川区、璧山县、开县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td rowspan="3">
            黑龙江省</td>
          <td width="123">
            哈尔滨市</td>
          <td width="268">
            南岗区、道里区、香坊区、道外区、双城市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            齐齐哈尔市</td>
          <td width="268">
            建华区、龙沙区、铁峰区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            大庆市</td>
          <td width="268">
            龙凤区、萨尔图区、让胡路区、红岗区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td rowspan="2">
            吉林省</td>
          <td width="123">
            长春市</td>
          <td width="268">
            宽城区、朝阳区、绿园区、南关区、二道区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            吉林市</td>
          <td width="268">
            船营区、昌邑区、丰满区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td rowspan="12">
            辽宁省</td>
          <td width="123">
            沈阳市</td>
          <td width="268">
            大东区、和平区、皇姑区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            大连市</td>
          <td width="268">
            西岗区、旅顺口区、沙河口区、中山区、经济技术开发区、甘井子区、庄河市、瓦房店市、普兰店市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            鞍山市</td>
          <td width="268">
            铁西区、鞍山经济开发区、铁东区、立山区、海城市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            抚顺市</td>
          <td width="268">
            新抚区、顺城区、望花区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            本溪市</td>
          <td width="268">
            平山区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            丹东市</td>
          <td width="268">
            振兴区、东港市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            锦州市</td>
          <td width="268">
            古塔区、太和区、锦州南站新区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            营口市</td>
          <td width="268">
            站前区、鲅鱼圈区、老边区、西市区、大石桥市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            辽阳市</td>
          <td width="268">
            白塔区、文圣区、宏伟区、太子河区、灯塔市、辽阳县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            盘锦市</td>
          <td width="268">
            兴隆台区、双台子区、大洼县、盘山县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            铁岭市</td>
          <td width="268">
            银州区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            葫芦岛市</td>
          <td width="268">
            连山区、兴城市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            内蒙古自治区</td>
          <td width="123">
            呼和浩特市</td>
          <td width="268">
            新城区、赛罕区、金川开发区、回民区、金桥开发区、如意开发区、玉泉区、和林格尔县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            宁夏回族自治区</td>
          <td width="123">
            银川市</td>
          <td width="268">
            兴庆市、金凤区、西夏区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td rowspan="10">
            河北省</td>
          <td width="123">
            石家庄市</td>
          <td width="268">
            桥东区、桥西区、新华区、裕华区、长安区、高新区、鹿泉市、辛集市、晋州市、新乐市、正定县、无极县、藁城市、栾城县、灵寿县、元氏县、赵县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            邯郸市</td>
          <td width="268">
            复兴区、邯山区、成安县、永年县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            保定市</td>
          <td width="268">
            北市区、南市区、新市区、蠡县、高阳县、雄县、高碑店市、容城县、安新县、徐水县、定州市、满城县、定兴县、涿州、安国市、清苑县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            承德市</td>
          <td width="268">
            　</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            唐山市</td>
          <td width="268">
            路南区、路北区、高新技术开发区、新区、玉田县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            廊坊市</td>
          <td width="268">
            安次区、廊坊经济技术开发区、霸州市、香河县、文安县、大城县、固安县、三河市、大厂县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            沧州市</td>
          <td width="268">
            运河区、新华区、黄骅市、青县、沧县、南皮县、泊头市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            衡水市</td>
          <td width="268">
            桃城区、衡水高新技术开发区、安平县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            邢台市</td>
          <td width="268">
            桥东区、桥西区、宁晋县、清河县、南宫市、新河县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            秦皇岛市</td>
          <td width="268">
            海港区、山海关区、北戴河区、秦皇岛经济技术开发区、昌黎县、抚宁县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td rowspan="2">
            山西省</td>
          <td width="123">
            太原市</td>
          <td width="268">
            迎泽区、小店区、高新技术产业开发区、杏花岭区、万柏林区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            晋中市</td>
          <td width="268">
            榆次区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td rowspan="16">
            山东省</td>
          <td width="123">
            济南市</td>
          <td width="268">
            历下区、天桥区、市中区、历城区、章丘市、济阳县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            青岛市</td>
          <td width="268">
            市南区、市北区、四方区、李沧区、城阳区、即墨市、平度市、胶州市、胶南市、莱西市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            泰安市</td>
          <td width="268">
            泰山区、东部开发区、岱岳区、南部高新技术开发区、肥城市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            淄博市</td>
          <td width="268">
            张店区、周村区、桓台县、高青县、邹平县、沂源县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            枣庄市</td>
          <td width="268">
            市中区、薛城区、新城区、高新技术产业开发区、峄城区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            东营市</td>
          <td width="268">
            西城、辛区、新区、东城经济开发区、广饶县、垦利县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            烟台市</td>
          <td width="268">
            芝罘区、烟台经济技术开发区、烟台大季家工业园、莱山区、莱阳市、海阳市、莱州市、蓬莱市、龙口市、栖霞市、招远市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            潍坊市</td>
          <td width="268">
            奎文区、潍城区、坊子区、高新技术产业开发区、高密市、诸城市、昌邑市、寿光市、昌乐县、青州市、安丘市、临朐县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            济宁市</td>
          <td width="268">
            市中区、邹城市、兖州市、曲阜市、嘉祥县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            威海市</td>
          <td width="268">
            环翠区、经技术开发区、荣成市、文登市、乳山市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            日照市</td>
          <td width="268">
            东港区、日照经济技术开发区、五莲县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            莱芜市</td>
          <td width="268">
            莱城区、新泰市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            临沂市</td>
          <td width="268">
            兰山区、罗庄区、河东区、沂水县、临沭县、蒙阴县、沂南县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            德州市</td>
          <td width="268">
            德城区、商贸开发区、天衢区、经济开发区、宁津县、禹城市、齐河县、陵县、夏津县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            聊城市</td>
          <td width="268">
            东昌府区、聊城经济技术开发区、东阿县、临清市、高唐县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            滨州市</td>
          <td width="268">
            滨城区、博兴县、沾化县、无棣县、阳信县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td rowspan="4">
            陕西省</td>
          <td width="123">
            西安市</td>
          <td width="268">
            新城区、碑林区、莲湖区、高新技术产业开发区、灞桥区、未央区、阎良区、临潼区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            宝鸡市</td>
          <td width="268">
            渭滨区、岐山县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            渭南市</td>
          <td width="268">
            临渭区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            咸阳市</td>
          <td width="268">
            渭城区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            甘肃省</td>
          <td width="123">
            兰州市</td>
          <td width="268">
            城关区、七里河区、安宁区、西固区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td rowspan="17">
            河南省</td>
          <td width="123">
            郑州市</td>
          <td width="268">
            金水区、管城区、惠济区、二七区、中原区、荥阳市、新郑市、新密市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            开封市</td>
          <td width="268">
            鼓楼区、龙亭区、顺河回族区、金明区、禹王台区、开封县、尉氏县、中牟县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            洛阳市</td>
          <td width="268">
            瀍河区、老城区、西工区、洛龙区、涧西区、高新技术开发区、新安县、偃师市、宜阳县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            平顶山市</td>
          <td width="268">
            新华区、高新技术开发区、湛河区、卫东区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            安阳市</td>
          <td width="268">
            殷都区、北关区、文峰区、龙安区、高新技术开发区、安阳县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            鹤壁市</td>
          <td width="268">
            淇滨区、金山工业开发区、山城区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            新乡市</td>
          <td width="268">
            红旗区、卫滨区、牧野区、高新技术开发区、凤泉区、小店工业区、新乡县、卫辉市、辉县市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            焦作市</td>
          <td width="268">
            解放区、山阳区、高新技术开发区、中站区、济源市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            濮阳市</td>
          <td width="268">
            华龙区、高新技术产业开发区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            许昌市</td>
          <td width="268">
            许昌市、许昌县、长葛市、禹州市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            漯河市</td>
          <td width="268">
            源汇区、郾城区、召陵区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            三门峡市</td>
          <td width="268">
            湖滨区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            南阳市</td>
          <td width="268">
            宛城区、卧龙区、高新区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            商丘市</td>
          <td width="268">
            经济技术开发区、睢阳区、梁园区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            信阳市</td>
          <td width="268">
            浉河区、平桥区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            周口市</td>
          <td width="268">
            川汇区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            驻马店市</td>
          <td width="268">
            驿城区、高新技术开发区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td rowspan="16">
            安徽省</td>
          <td width="123">
            合肥市</td>
          <td width="268">
            蜀山区、经济技术开发区、庐阳区、包河区、瑶海区、肥东县、肥西县、长丰县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            芜湖市</td>
          <td width="268">
            镜湖区、弋江区、鸠江区、三山区、芜湖县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            蚌埠市</td>
          <td width="268">
            蚌山区、禹会区、龙子湖区、淮上区、凤阳县、怀远县、固镇县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            淮南市</td>
          <td width="268">
            田家庵区、大通区、谢家集区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            马鞍山市</td>
          <td width="268">
            金家庄区、花山区、雨山区、当涂县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            淮北市</td>
          <td width="268">
            　</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            铜陵市</td>
          <td width="268">
            铜官山区、新城区、狮子山区、铜陵县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            安庆市</td>
          <td width="268">
            大观区、迎江区、宜秀区、桐城市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            黄山市</td>
          <td width="268">
            屯溪区、黎阳镇、阳湖镇、屯光镇、徽州区、歙县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            滁州市</td>
          <td width="268">
            琅琊区、南谯区、来安县、全椒县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            阜阳市</td>
          <td width="268">
            颍东区、颍州区、颍泉区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            巢湖市</td>
          <td width="268">
            居巢区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            六安市</td>
          <td width="268">
            金安区、裕安区、六安经济开发区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            池州市</td>
          <td width="268">
            贵池区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            宣城市</td>
          <td width="268">
            宣州区、广德县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            宁国市</td>
          <td width="268">
            宁国市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td rowspan="13">
            江苏省</td>
          <td width="123">
            南京市</td>
          <td width="268">
            白下区、建邺区、鼓楼区、下关区、秦淮区、玄武区、江宁区、雨花区、栖霞区、浦口区、六合区、溧水县、高淳县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            无锡市</td>
          <td width="268">
            滨湖区、崇安区、南长区、北塘区、锡山区、惠山区、新区、江阴市、宜兴市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            徐州市</td>
          <td width="268">
            九里区、鼓楼区、云龙区、金山桥开发区、泉山区、铜山新区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            常州市</td>
          <td width="268">
            武进区、新北区、钟楼区、天宁区、戚墅堰区、金坛市、溧阳市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            苏州市</td>
          <td width="268">
            平江区、沧浪区、金阊区、虎丘区、吴中区、相城区、吴江市、常熟市、太仓市、昆山市、张家港市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            南通市</td>
          <td width="268">
            崇川区、港闸区、经济技术开发区、海门市、如东县、如皋市、海安县、启东市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            连云港市</td>
          <td width="268">
            新浦区、海州区、连云区、东海县、赣榆县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            淮安市</td>
          <td width="268">
            淮阴区、清浦区、淮阴开发区、淮安市开发区、涟水县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            盐城市</td>
          <td width="268">
            亭湖区、盐都区、大丰市、东台市、建湖县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            扬州市</td>
          <td width="268">
            维扬区、广陵区、开发区、邢江区、江都市、高邮市、仪征市、宝应市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            镇江市</td>
          <td width="268">
            润州区、京口区、丁卯经济开发区、丹徒区、扬中市、句容市、丹阳市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            泰州市</td>
          <td width="268">
            海陵区、高港区、靖江市、泰兴市、姜堰市、兴化市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            宿迁市</td>
          <td width="268">
            宿迁市区、经济开发区、宿城区、宿豫经济开发区、宿城经济开发区、邳州市、沭阳县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td rowspan="15">
            湖北省</td>
          <td width="123">
            武汉市</td>
          <td width="268">
            江汉区、江岸区、硚口区、武昌区、洪山区、青山区、东西湖区、汉阳区、江夏区、黄陂区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            黄石市</td>
          <td width="268">
            黄石港区、西塞山区、下陆区、铁山区、大冶市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            十堰市</td>
          <td width="268">
            张湾区、茅箭区、东城经济开发区、西城经济开发区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            荆州市</td>
          <td width="268">
            荆州区、沙市区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            宜昌市</td>
          <td width="268">
            伍家区、西陵区、猇亭区、夷陵区、枝江市、宜都市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            襄樊市</td>
          <td width="268">
            樊城区、襄城区、襄阳区、枣阳市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            鄂州市</td>
          <td width="268">
            鄂城区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            荆门市</td>
          <td width="268">
            东宝区、掇刀区、钟祥市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            孝感市</td>
          <td width="268">
            孝南区、孝感开发区、南大开发区、孝南开发区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            黄冈市</td>
          <td width="268">
            黄州区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            咸宁市</td>
          <td width="268">
            咸安区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            随州市</td>
          <td width="268">
            曾都区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            仙桃市</td>
          <td width="268">
            仙桃城区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            潜江市</td>
          <td width="268">
            　</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            赤壁市</td>
          <td width="268">
            　</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td rowspan="14">
            湖南省</td>
          <td width="123">
            长沙市</td>
          <td width="268">
            岳麓区、芙蓉区、开福区、雨花区、天心区、浏阳市、宁乡县、望城县、长沙县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            郴州市</td>
          <td width="268">
            北湖区、苏仙区、资兴市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            湘潭市</td>
          <td width="268">
            雨湖区、岳塘区、湘乡市、湘潭县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            衡阳市</td>
          <td width="268">
            雁峰区、珠晖区、石鼓区、蒸湘区、衡阳县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            邵阳市</td>
          <td width="268">
            大祥区、双清区、北塔区、邵东县、新邵县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            岳阳市</td>
          <td width="268">
            岳阳楼区、岳阳经济开发区、云溪区、君山区、临湘市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            常德市</td>
          <td width="268">
            武陵区、德山经济开发区、鼎城区、桃源县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            张家界市</td>
          <td width="268">
            永定区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            益阳市</td>
          <td width="268">
            赫山区、资阳区、朝阳经济开发区、高新区、龙岭工业区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            株洲市</td>
          <td width="268">
            天元区、石峰区、芦松区、荷塘区、醴陵市、株洲县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            永州市</td>
          <td width="268">
            冷水滩区、零陵区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            怀化市</td>
          <td width="268">
            鹤城区、河西开发区、湖天开发区、城东新区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            娄底市</td>
          <td width="268">
            娄星区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td width="123">
            湘西土家族苗族自治州</td>
          <td width="268">
            吉首市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td rowspan="16">
            四川省</td>
          <td>
            成都市</td>
          <td width="268">
            武侯区、高新区、青羊区、金牛区、锦江区、成华区、成都高新西区、新都区、双流县、郫县、都江堰市、崇州市、新津县、金堂县、大邑县、邛崃县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            攀枝花市</td>
          <td width="268">
            东区、仁和区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            绵阳市</td>
          <td width="268">
            高新区、经开区、科教创业园区、三台县、江油市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            自贡市</td>
          <td width="268">
            汇东新区、自流井区、大安区、贡井区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            泸州市</td>
          <td width="268">
            江阳区、龙马潭区、纳溪区、泸县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            德阳市</td>
          <td width="268">
            旌阳区、天元开发区、旌湖经济技术开发区、德阳高科技产业园区、八角工业园区、广汉市、绵竹市、什邡市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            广元市</td>
          <td width="268">
            　</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            遂宁市</td>
          <td width="268">
            船山区、河东新区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            内江市</td>
          <td width="268">
            市中区、东兴区、隆昌县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            乐山市</td>
          <td width="268">
            市中区、五通桥区、高新技术开发区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            宜宾市</td>
          <td width="268">
            翠屏区、南岸、江北、宜宾县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            南充市</td>
          <td width="268">
            顺庆区、高坪区、林海工业园</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            雅安市</td>
          <td width="268">
            雨城区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            广安市</td>
          <td width="268">
            　</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            巴中市</td>
          <td width="268">
            　</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            眉山市</td>
          <td width="268">
            东坡区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td rowspan="11">
            江西省</td>
          <td>
            南昌市</td>
          <td width="268">
            东湖区、西湖区、青山湖区、南昌高新技术开发区、青云谱区、红谷滩新区、新建县、南昌县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            九江市</td>
          <td width="268">
            浔阳区、庐山区、九江经济开发区、共青城、德安县、九江县、瑞昌县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            景德镇市</td>
          <td width="268">
            珠山区、昌江区、浮梁县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            上饶市</td>
          <td width="268">
            信州区、上饶县、玉山县、广丰县、弋阳县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            鹰潭市</td>
          <td width="268">
            月湖区、余江县、贵溪市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            抚州市</td>
          <td width="268">
            临川区、金巢经济开发区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            赣州市</td>
          <td width="268">
            章贡区、赣州经济技术开发区、赣县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            吉安市</td>
          <td width="268">
            吉州区、青原区、吉安县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            宜春市</td>
          <td width="268">
            袁州区、万载县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            新余市</td>
          <td width="268">
            渝水区、分宜县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            萍乡市</td>
          <td width="268">
            安源区、高新技术工业园区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td rowspan="9">
            福建省</td>
          <td>
            福州市</td>
          <td width="268">
            仓山区、鼓楼区、台江区、马尾区、晋安区、福清市、长乐市、闽侯县、连江县、闽清县、罗源县、永泰县、平潭县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            宁德市</td>
          <td width="268">
            蕉城区、福安市、福鼎市、霞浦县、古田县、柘荣县、周宁县、屏南县、寿宁县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            莆田市</td>
          <td width="268">
            荔城区、城厢区、秀屿区、涵江区、仙游县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            泉州市</td>
          <td width="268">
            鲤城区、丰泽区、洛江区、晋江市、南安市、惠安县、石狮市、安溪县、永春县、德化县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            漳州市</td>
          <td width="268">
            芗城区、龙文区、龙海市、漳浦县、长泰县、南靖县、云霄县、东山县、平和县、华安县、诏安县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            厦门市</td>
          <td width="268">
            集美区、湖里区、同安区、思明区、海沧区、翔安区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            三明市</td>
          <td width="268">
            梅列区、三元区、永安市、沙县、尤溪县、明溪县、将乐县、大田县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            龙岩市</td>
          <td width="268">
            新罗区、漳平市、长汀县、永定县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            南平市</td>
          <td width="268">
            延平区、建瓯市、邵武市、建阳市、顺昌县、光泽县、武夷山市、浦城县、政和县、松溪县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td rowspan="21">
            广东省</td>
          <td>
            广州市</td>
          <td width="268">
            荔湾区、天河区、越秀区、白云区、珠海区、花都区、黄埔区、番禺区、南沙区、增城市、从化市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            深圳市</td>
          <td width="268">
            罗湖区、福田区、盐田区、南山区、宝安区、龙岗区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            珠海市</td>
          <td width="268">
            香洲区、金湾区、斗门区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            汕头市</td>
          <td width="268">
            金平区、龙湖区、濠江区、澄海区、潮阳区、潮南区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            佛山市</td>
          <td width="268">
            禅城区、南海区、高明区、三水区、顺德区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            韶关市</td>
          <td width="268">
            武江区、浈江区、曲江县、乐昌市、乳源县、仁化县、始兴县、翁源县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            河源市</td>
          <td width="268">
            源城区、高新区、新市区、东源县、紫金县、龙川县、连平县、和平县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            惠州市</td>
          <td width="268">
            惠城区、惠阳区、大亚湾区、博罗县、惠东县、海丰县、龙门县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            汕尾市</td>
          <td width="268">
            城区、红海湾区、海丰县、陆丰市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            东莞市</td>
          <td width="268">
            莞城区、南城区、东城区、万江区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            江门市</td>
          <td width="268">
            蓬江区、江海区、开平市、台山市、恩平市、鹤山市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            阳江市</td>
          <td width="268">
            江城区、阳东县、阳西县、阳春市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            湛江市</td>
          <td width="268">
            赤坎区、霞山区、麻章区、湛江经济技术开发区、遂溪县、廉江市、雷州市、徐闻县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            茂名市</td>
          <td width="268">
            茂南区、化州市、高州市、电白县、信宜市、吴川市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            肇庆市</td>
          <td width="268">
            端州区、鼎湖区、大旺高新技术开发区、高要市、四会市、广宁县、德庆县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            清远市</td>
          <td width="268">
            清城区、清新县、英德市、佛冈县、连州市、阳山县、连南县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            潮州市</td>
          <td width="268">
            湘桥区、枫溪区、潮安县、饶平县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            云浮市</td>
          <td width="268">
            云城区、新兴县、罗定市</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            中山市</td>
          <td width="268">
            　</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            揭阳市</td>
          <td width="268">
            榕城区、渔湖经济开发试验区、揭东县、普宁市、揭西县、惠来县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            梅州市</td>
          <td width="268">
            梅江区、梅县、兴宁市、五华县、蕉岭县、平远县、丰顺县</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td rowspan="5">
            云南省</td>
          <td>
            昆明市</td>
          <td width="268">
            五华区、盘龙区、西山区、官渡区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            曲靖市</td>
          <td width="268">
            麒麟区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            玉溪市</td>
          <td width="268">
            红塔区、高新产业开发区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            大理市</td>
          <td width="268">
            下关镇</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            丽江市</td>
          <td width="268">
            古城区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td rowspan="3">
            贵州省</td>
          <td>
            贵阳市</td>
          <td width="268">
            云岩区、南明区、小河区、乌当区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            遵义市</td>
          <td width="268">
            红花岗区、汇川区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            安顺市</td>
          <td width="268">
            西秀区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            海南省</td>
          <td>
            海口市</td>
          <td width="268">
            龙华区、琼山区、美兰区、秀英区、港澳开发区</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            新疆</td>
          <td>
            乌鲁木齐市</td>
          <td width="268">
            天山区 、沙依巴克区 、新市区、 水磨沟区、
            <div>
              米东区、头屯河区</div>
          </td>
          <td>
            &nbsp;</td>
        </tr>
        <tr>
          <td>
            香港特别行政区</td>
          <td width="123">
            　</td>
          <td width="268">
            香港岛、九龙、新界、离岛、大屿山</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            澳门特别行政区</td>
          <td width="123">
            　</td>
          <td width="268">
            函仔、路环</td>
          <td>
            　</td>
        </tr>
        <tr>
          <td>
            台湾</td>
          <td width="123">
            　</td>
          <td width="268">
            台北市、台北县、桃源县、新竹市、新竹县、苗栗县、台中市、台中县、彰化市、彰化县、南投市、南投县、云林县、嘉义市、台南县、高雄市、高雄县</td>
          <td>
            　</td>
        </tr>
      </tbody>
    </table>
  </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <include file="Public/footer2" />
    <script src="__PUBLIC__/js/require.js" data-main="__PUBLIC__/js/ychdzx"></script>
    </body>
    </html>
