<include file="Public/header_help" />
<link href="__PUBLIC__/css/help.css" rel="stylesheet">
      <div class="w boxs clearfix">
        <div class="title">当前位置： <span>好蟹汇>帮助中心>验货与签收</span></div>
        <div class="left fl">
          <include file="Public/mid_help"/>
        </div>
        <div class="right fr">
          <h3>验货与签收</h3>
          <ul class="ul">
            <li> 
              <p>1、签收时请仔细核对：商品及数量、发票（如有）等是否齐全；</p>
            </li>
            <li> 
              <p>2、如发现商品破损、商品发错、商品少发等影响签收的因素，请马上当着快递送货员的面与好蟹汇客服中心进行联系，联系电话：4400-880-1517；</p>
            </li>
            <li> 
              <p>3、如收货后发现商品有问题请在收货完成后的24小时内与我们取得联系，否则无法判定。</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <include file="Public/footer2" />
    <script src="__PUBLIC__/js/require.js" data-main="__PUBLIC__/js/ychdzx"></script>
    </body>
    </html>
