@charset "utf-8";
/*样式重置*/
body,
h1,
h2,
h3,
h4,
p,
dl,
dd,
dt,
ul,
ol,
li,
form,
input,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
}
em {
  font-style: normal;
}
dd {
  display: block;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img {
  border: none;
}
table {
  border-collapse: collapse;
}
input,
textarea {
  outline: none;
}
textarea {
  resize: none;
  overflow: auto;
}
body,
button,
input,
select,
textarea {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, sans-serif;
  color: #000;
  outline: none;
  border: none;
  background-color: transparent;
}
a {
  color: #000;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  clear: both;
  height: 0;
  display: block;
}
.justify {
  font-size: 0;
  text-align: justify;
}
.justify > * {
  display: inline-block;
}
.justify:after {
  content: '';
  display: inline-block;
  position: relative;
  width: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.hide-it {
  display: none;
}
.line {
  zoom: 1;
}
.line:after {
  content: '';
  clear: both;
  height: 0;
  display: block;
}
.btn {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
}
.img img {
  width: 100%;
  display: block;
}
.text-center {
  text-align: center;
}
.disabled {
  cursor: default;
  pointer-events: none;
}
.list {
  zoom: 1;
}
.list li {
  float: left;
}
.list:after {
  content: '';
  height: 0;
  clear: both;
  display: block;
}
.bgfff {
  background: #fff;
}
.header {
  /*overflow: hidden;*/
  position: relative;
  background: #000000;
  height: 90px;
  z-index: 3;
  border-bottom: 3px solid #de161b ;
}
.header .w {
  position: relative;
}
.header .nav {
  width: 550px;
  float: left;
  zoom: 1;
}
.header .nav.nav-4 li {
  width: 25%;
}
.header .nav:after {
  content: '';
  clear: both;
  height: 0;
  display: block;
}
.header .nav li {
  width: 33.3%;
  float: left;
}
.header .nav a {
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  display: block;
  line-height: 90px;
  text-align: center;
}
.header .nav a:hover {
  color: #b00005;
  font-weight: bold;
  -webkit-animation: tada 1s .2s ease both;
  -moz-animation: tada 1s .2s ease both;
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
  }
  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}
@-moz-keyframes tada {
  0% {
    -moz-transform: scale(1);
  }
  10%,
  20% {
    -moz-transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -moz-transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    -moz-transform: scale(1.1) rotate(-3deg);
  }
  100% {
    -moz-transform: scale(1) rotate(0);
  }
}
.header .logo {
  text-align: center;
  top: 13px;
  width: 100px;
  float: left;
  position: relative;
  font-size: 0;
}
.header .logo img {
  display: inline-block;
  position: relative;
  z-index: 2;
}
.header .logo:after {
  position: absolute;
  height: 26px;
  left: 0;
  right: 0;
  margin: auto;
  content: '';
  top: 77px;
  background: url(../images/h-b.png) no-repeat center;
}
.header .phonenum {
  color: #fff;
  font-size: 16px;
  float: left;
  line-height: 90px;
  position: absolute;
  top: 0;
  right: -142px;
  white-space: nowrap;
  width: 142px;
}
.header .phonenum i {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  background: url(../images/icon-phone.png) no-repeat center;
  margin-right: 4px;
}
@media screen and (max-width: 1502px) {
  .header .w {
    width: 916px;
  }
  .header .w .nav {
    width: 408px;
  }
}
@media screen and (max-width: 1752px) {
  .stores .st-head {
    width: 220px!important;
  }
  .stores .st-head b {
    width: 172px!important;
  }
}
.footer-n .news .w {
  overflow: hidden;
}
.footer-n .news .tit-2 {
  padding-bottom: 12px;
  padding-top: 24px;
}
.footer-n .news .tit-2 h3 {
  font-size: 24px;
  font-weight: normal;
}
.footer-n .news .tit-2 a {
  font-size: 14px;
  padding-top: 15px;
}
.footer-n .news .tabs {
  font-size: 0;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  margin-bottom: 20px;
}
.footer-n .news .tabs li {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.footer-n .news .tabs li a {
  display: block;
  border-left: 1px solid #d2d2d2;
  font-size: 16px;
  color: #333333;
  line-height: 36px;
}
.footer-n .news .tabs li a.current {
  color: #b00005;
}
.footer-n .news .list {
  padding-bottom: 72px;
  margin-right: -180px;
}
.footer-n .news .list li {
  width: 510px;
  margin-right: 180px;
  border-bottom: 1px dashed #d2d2d2;
}
.footer-n .news .list li a {
  line-height: 44px;
  display: block;
}
.footer-n .news .list li a:hover span,
.footer-n .news .list li a:hover em {
  color: #b60005;
}
.footer-n .news .list li a:hover span:before {
  background: #b60005;
}
.footer-n .news .list li a span {
  display: block;
  float: left;
  width: 360px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.footer-n .news .list li a span:before {
  width: 9px;
  height: 9px;
  display: inline-block;
  content: '';
  background: #d2d2d2;
  vertical-align: middle;
  margin-right: 8px;
}
.footer-n .news .list li a em {
  font-style: normal;
  float: right;
  color: #999;
}
.footer-n .news .content {
  height: 252px;
}
.footer-n .news .content div {
}
.footer-t {
  background: #b70005;
  padding: 32px 0;
}
.footer-t ul {
  font-size: 0;
  color: #fff;
  white-space: nowrap;
}
.footer-t ul li {
  display: inline-block;
  vertical-align: middle;
  width: 170px;
  text-align: center;
}
.footer-t ul li img {
  display: inline-block;
  vertical-align: middle;
}
.footer-t ul li span {
  display: block;
  padding-top: 12px;
  font-size: 18px;
}
.footer-t ul li.line {
  content: '';
  width: 0;
  height: 77px;
  border-left: 1px dashed #cb4d50;
}
.footer-c {
  padding-top: 42px;
  padding-bottom: 12px;
  background: url(../images/fc-bg.jpg) no-repeat center #121212;
  background-size: auto 100%;
}
.footer-c .f-tit {
  font-size: 18px;
  color: #fff;
  font-weight: normal;
  padding-bottom: 15px;
}
.footer-c .btn input {
  width: 224px;
  height: 42px;
  line-height: 42px;
  display: block;
  background: #b60005;
  font-size: 18px;
  border-radius: 12px ;
  color: #fff;
  margin-top: 12px;
  cursor: pointer;
}
.footer-b {
  font-size: 14px;
  color: #999;
  line-height: 72px;
  text-align: center;
  background: #000;
}
.footer-2 {
  display: none;
  background: #181818;
  padding: 20px 0;
}
.footer-2 a {
  color: #fff;
  font-size: 14px;
  padding: 0 3px;
  margin-bottom: 10px;
}
.footer-2 a:after {
  content: '|';
  margin-left: 3px;
}
.footer-2 a:last-child:after {
  content: '';
}
.f-desc {
  margin-bottom: 20px;
}
.f-desc dl {
  float: left;
  color: #fff;
  margin-right: 45px;
}
.f-desc dl dt,
.f-desc dl dd {
  padding-bottom: 10px;
  font-size: 14px;
}
.f-desc dl a {
  color: #fff;
  opacity: 0.5;
}
.f-desc dl a:hover {
  color: #b2976a;
}
.f-consulting .line {
  background: #363636;
  width: 236px;
  position: relative;
  margin-bottom: 7px;
  border-radius: 4px;
  padding-left: 52px;
}
.f-consulting .line label {
  position: absolute;
  left: 10px;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
}
.f-consulting .line input {
  display: block;
  line-height: 40px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  width: 92%;
}
.f-consulting .line textarea {
  padding: 10px 0;
  color: #fff;
  font-size: 14px;
  display: block;
  width: 92%;
}
.f-contactus {
  width: 208px;
  margin-right: 32px;
}
.f-contactus .box {
  padding-bottom: 13px;
}
.f-contactus .box p {
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
  line-height: 32px;
}
.f-contactus .codeimg img {
  display: block;
  border: 4px solid #545454;
  margin-bottom: 10px;
}
.f-contactus .codeimg span {
  font-size: 18px;
  color: #fff;
}
/*区域店铺信息*/
.stores {
  z-index: 5;
  margin-top: 25px;
  position: absolute;
  left: 0;
}
.stores .st-head {
  width: 324px;
  color: #fff;
  line-height: 46px;
  background: #212121;
  font-size: 0;
}
.stores .st-head b {
  font-size: 16px;
  width: 276px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
}
.stores .st-head b:after {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 6px solid #343434;
  border-bottom: 5px solid transparent;
  display: block;
  right: -6px;
  top: 0;
  bottom: 0;
  margin: auto;
  content: '';
}
.stores .st-head i {
  width: 48px;
  position: relative;
  background: #b60005;
  height: 46px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.stores .st-head i:after {
  position: absolute;
  height: 20px;
  top: 0;
  bottom: 0;
  width: 100%;
  background: url(../images/icon-eye.png) no-repeat center top;
  content: '';
  margin: auto;
}
.stores .st-head i.close:after {
  background-position: center -20px;
}
.stores .st-body {
  position: absolute;
  background: #212121;
  opacity: 0.95;
  top: 46px;
  padding-top: 21px;
}
.stores .st-body ul {
  width: 276px;
}
.stores .st-body li {
  padding-left: 20px;
  padding-right: 16px;
  position: relative;
}
.stores .st-body li.current,
.stores .st-body li:hover {
  background: #030303;
}
.stores .st-body li.current h3,
.stores .st-body li:hover h3 {
  border-bottom-color: #030303;
}
.stores .st-body li h3 {
  cursor: pointer;
  line-height: 32px;
  font-size: 14px;
  color: #666;
  border-bottom: 1px solid #313131;
  position: relative;
}
.stores .st-body li h3:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 4px;
  height: 6px;
  width: 6px;
  border-left: #888 solid 1px;
  border-bottom: #888 solid 1px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.stores .st-body li h3 a {
  color: #666;
}
.stores .st-body li h3 b {
  font-size: 16px;
  margin: 0 3px;
}
.stores .st-body li .box {
  display: none;
  position: absolute;
  left: 276px;
  top: 0;
  padding: 26px;
  background: #010101;
}
.stores .st-body li .box img {
  display: block;
}
.stores .st-body li .box p {
  padding-top: 12px;
  color: #999999;
  font-size: 16px;
}
.st-close {
  padding-top: 16px;
  padding-bottom: 12px;
}
.st-close b {
  width: 34px;
  height: 34px;
  background: url(../images/s-close.png) no-repeat center;
  display: block;
  content: '';
  margin: 0 auto;
  cursor: pointer;
}
.c-link-2 {
  padding-top: 25px;
  padding-bottom: 28px;
}
.c-link-2 ul {
  white-space: nowrap;
  font-size: 0;
}
.c-link-2 ul li {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  text-align: center;
}
.c-link-2 ul li .img {
  width: 45px;
  height: 40px;
  background: red;
  display: inline-block;
  vertical-align: middle;
  transition: background-position 300ms ease-in-out;
}
.c-link-2 ul li .img-1 {
  background: url(../images/icon-1.png) no-repeat top center;
}
.c-link-2 ul li .img-2 {
  background: url(../images/icon-2.png) no-repeat top center;
}
.c-link-2 ul li .img-3 {
  background: url(../images/icon-3.png) no-repeat top center;
}
.c-link-2 ul li .img-4 {
  background: url(../images/icon-4.png) no-repeat top center;
}
.c-link-2 ul li .img-5 {
  background: url(../images/icon-5.png) no-repeat top center;
}
.c-link-2 ul li .img-6 {
  background: url(../images/icon-6.png) no-repeat top center;
}
.c-link-2 ul li .img-7 {
  background: url(../images/icon-7.png) no-repeat top center;
}
.c-link-2 ul li .img-8 {
  background: url(../images/icon-8.png) no-repeat top center;
}
.c-link-2 ul li:hover .img {
  background-position: 0 -40px;
}
.c-link-2 ul li:hover p {
  color: #ca0000;
}
.c-link-2 ul li p {
  padding-top: 10px;
  font-size: 16px;
  color: #000;
}
.c-link-2 ul li.line {
  width: 0;
  height: 106px;
  content: '';
  border-left: 1px;
  margin-left: -1px;
  border-left: 1px dashed #dcdcdc;
}
.c-link-2 ul.amation li {
  -webkit-animation: flipInX 1s .2s ease both;
  -moz-animation: flipInX 1s .2s ease both;
}
.c-link-2 ul.amation li:nth-child(1) {
  animation-delay: 0ms;
}
.c-link-2 ul.amation li:nth-child(3) {
  animation-delay: 200ms;
}
.c-link-2 ul.amation li:nth-child(5) {
  animation-delay: 400ms;
}
.c-link-2 ul.amation li:nth-child(7) {
  animation-delay: 600ms;
}
.c-link-2 ul.amation li:nth-child(9) {
  animation-delay: 800ms;
}
.c-link-2 ul.amation li:nth-child(11) {
  animation-delay: 1000ms;
}
.c-link-2 ul.amation li:nth-child(13) {
  animation-delay: 1200ms;
}
.c-link-2 ul.amation li:nth-child(15) {
  animation-delay: 1200ms;
}
.shops {
  background: #eee;
  padding-bottom: 36px;
  padding-top: 50px;
  position: relative;
}
.shops .img {
  width: 1040px;
  margin: 0 auto;
}
.shops .text {
  position: absolute;
  top: 475px;
  width: 100%;
  text-align: center;
}
.shops .text p {
  margin-right: 15px;
  display: inline-block;
  color: #b60005;
  letter-spacing: -2px;
}
.shops .text p b {
  font-size: 89px;
  line-height: 1em;
}
.shops .text p em {
  font-size: 30px;
  line-height: 1em;
}
.shops .text p span {
  font-size: 16px;
  color: #333;
}
.r-fixed {
  position: fixed;
  top: 12%;
  right: 0;
  width: 76px;
  z-index: 6;
}
.r-fixed .logo {
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background: #b60005;
}
.r-fixed .logo img {
  display: block;
  width: 76px;
  padding-bottom: 16px;
}
.r-fixed .online {
  background: #fff;
  text-align: center;
  font-size: 13px;
  color: #b60005;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
.r-fixed .online i {
  background: url(../images/icon-kf.png) no-repeat center;
  width: 19px;
  height: 18px;
  display: block;
  margin: 0 auto;
}
.r-fixed .online p {
  line-height: 1.9em;
}
.r-fixed .reply {
  padding-top: 5px;
  padding-bottom: 5px;
  background: #b60005;
  font-size: 13px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.r-fixed .reply i {
  background: url(../images/icon-tel.png) no-repeat center;
  width: 31px;
  height: 29px;
  display: block;
  margin: 0 auto;
}
.r-fixed .reply p {
  line-height: 1.9em;
}
.r-fixed .code {
  background: #fff;
  padding-bottom: 48px;
  padding-top: 10px;
  cursor: pointer;
}
.r-fixed .code img {
  width: 56px;
  display: block;
  margin: auto;
}
.r-fixed .sc-top {
  width: 76px;
  height: 76px;
  line-height: 76px;
  border-radius: 50%;
  background: #b60005;
  font-size: 0;
  text-align: center;
  margin-top: -38px;
  cursor: pointer;
}
.r-fixed .sc-top img {
  display: inline-block;
  vertical-align: middle;
  width: 68%;
}
.order {
  padding-top: 40px;
}
.order p span {
  font-size: 24px;
  margin-right: -5px;
}
.order p b {
  font-size: 30px;
  letter-spacing: -2px;
}
.order .btn {
  width: 310px;
  height: 46px;
  line-height: 46px;
  padding: 0;
  background: #B60005;
  font-size: 0;
  border-radius: 4px;
  display: block;
}
.order .btn i {
  width: 28px;
  height: 29px;
  background: url(../images/icon-ed.png) no-repeat center;
  margin-right: 12px;
}
.order .btn i,
.order .btn span {
  vertical-align: middle;
  display: inline-block;
  color: #fff;
}
.order .btn span {
  font-size: 18px;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
  }
  100% {
    -webkit-transform: perspective(400 px) rotateX(0deg);
    opacity: 1;
  }
}
@-moz-keyframes flipInX {
  0% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    -moz-transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    -moz-transform: perspective(400px) rotateX(10deg);
  }
  100% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
.l-fixed {
  width: 52px;
  height: 563px;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 15px;
  background: #fff;
  z-index: 7;
  border: 1px solid #d2d2d2;
}
.l-fixed ul {
  margin-bottom: -1px;
}
.l-fixed ul li {
  cursor: pointer;
  height: 36px;
  width: 34px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #d2d2d2;
  padding-top: 10px;
}
.l-fixed ul li span {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 1em;
}
.l-fixed ul li.current span {
  color: #b00005;
}
.tooltip {
  background: #fff;
  border-radius: 4px;
  padding: 12px;
  margin: -12px;
  border: 1px solid #c9c9c9;
  width: 186px;
  line-height: 22px;
  position: relative;
  word-wrap: break-word;
}
.tooltip:after {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  content: '';
  left: 0;
  right: 0;
  margin: auto;
  bottom: -7px;
}
.tooltip h3 {
  font-size: 18px;
  color: #c42a2a;
  font-weight: normal;
}
.tooltip p {
  font-size: 14px;
  color: #333;
  white-space: normal;
  word-wrap: break-word;
}
.null {
  margin: 88px 0;
}
.null img {
  display: block;
  margin: 50px auto 15px;
}
.null ul {
  font-size: 0;
  text-align: center;
}
.null ul li {
  display: inline-block;
  line-height: 30px;
  text-align: center;
}
.null ul li a {
  display: block;
  padding: 0 20px;
  background: #333;
  font-size: 14px;
  color: #fff;
}
.null ul li a:hover {
  background: #b60005;
}
.null ul .active a {
  background: #b60005;
}
.boxs {
  padding: 60px 0 70px;
}
.boxs .left {
  width: 853px;
  border: 1px dotted #d5d5d5;
  margin-right: 15px;
}
.boxs .left h3 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 25px 0 20px;
}
.boxs .left h4 {
  color: #666;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
}
.boxs .left h4 span {
  margin-right: 15px;
}
.boxs .left h4 .bshare-custom {
  display: inline-block;
}
.boxs .left p {
  margin: 37px auto 20px;
  padding: 15px 18px;
  width: 646px;
  border: 1px dotted #d5d5d5;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #999;
  font-size: 14px;
  line-height: 24px;
}
.boxs .left img {
  display: block;
  margin: auto;
}
.boxs .left .vjs-tech {
  display: block;
  margin: 0 auto 25px;
}
.boxs .right {
  width: 288px;
  border: 1px dotted #d5d5d5;
  padding: 28px 20px 30px;
}
.boxs .right .up,
.boxs .right .down {
  margin-bottom: 16px;
  width: 100%;
  background: #eeeeee;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.boxs .right .up h3,
.boxs .right .down h3 {
  padding: 5px 10px 0;
}
.boxs .right .up p,
.boxs .right .down p {
  padding: 10px;
  height: 86px;
  line-height: 23px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  -moz-line-clamp: 4;
  -moz-box-orient: vertical;
}
.boxs .right .up .vjs-tech,
.boxs .right .down .vjs-tech {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.boxs .right .up:hover,
.boxs .right .down:hover {
  background: #535353;
  cursor: pointer;
  -webkit-animation: swing 1s .2s ease both;
  -moz-animation: swing 1s .2s ease both;
}
.boxs .right .up:hover h3,
.boxs .right .down:hover h3 {
  color: #fff;
}
.boxs .right .up:hover p,
.boxs .right .down:hover p {
  color: #fff;
}
@-webkit-keyframes swing {
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transform-origin: top center;
  }
  20% {
    -webkit-transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
.boxs .right .down {
  margin: 33px 0 0;
}

